{
  "extends": "airbnb",
  "rules": {
    "no-use-before-define": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "react/sort-comp": 0,
    "max-len": 0
  },
  "globals": {
    "io": true
  }
}
